* {
  box-sizing: border-box;
}

header {
  padding: 0 30px;
  
}
.login {

}
.hamburger {
  display: none;
}

.nav-bar ul li a {
  color: #b8b9b8;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
}

.nav-bar ul li a:hover {
  color: rgb(248, 248, 248);
  transition: 200ms ease-in-out;
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 1050px) {
  header {
    padding: 0 30px;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
  }
  .nav-bar {
    height: 0;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    width: 100 vw;
    background: black;
    opacity: 0;
    z-index: 40;
  }
  .nav-bar.active {
    margin-top: 0px;
    height: 350px;
    transition: 0.3s ease-in-out;
    opacity: 1;
    z-index: 50;
    
  }

  .nav-bar ul {
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: 80px auto 0 auto;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
    z-index: 60;
  }



}

@media only screen and (min-width: 1050px) {
  .login {
    display: flex;
    border: 1px solid #1F1F1F;
    border-radius: 6px;
    width: 100px;
    height: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 30px;
    &:hover{
      background: #1F1F1F;
    }
  }
  .signup{
    display: flex;
    border: 1px solid #1F1F1F;
    border-radius: 6px;
    background-color: #dadada;
    color: #383838 !important;
    width: 100px;
    height: 40px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;

  }
  .signup:hover{
      color: #000000 !important;
      background-color: white;
  }


}


@media only screen and (max-width: 1025px) {
  .nav-bar {
    transition: 0.3s ease-in-out;
  }
}

a{
  color: white;
}