* {
  box-sizing: border-box;
}

header {
  padding: 0 80px;
}

.hamburger {
  display: none;
}

.nav-bar ul li a {
  display: block;
  color: #cacccb;
  padding: 10px;
  cursor: pointer;
}

.nav-bar ul li a:hover {
  color: white;
  transition: 300ms ease-in-out;
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 1050px) {
  header {
    padding: 0 30px;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
  }
  .nav-bar {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100 vw;
    background: black;
    opacity: 0;

    z-index: 40;
  }
  .nav-bar.active {
    height: 450px;
    transition: 0.3s ease-in-out;
    opacity: 1;
  }

  .nav-bar ul {
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: 80px auto 0 auto;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
  }
}

@media only screen and (max-width: 1047px) {
  .nav-bar {
    transition: 0.3s ease-in-out;
  }
}

@media only screen and (max-width: 440px) {
  header {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 300px) {
  .logoname {
    font-size: 12px;
    font-weight: bold;
  }
}
